<section class="jumbotron2 jumbotron-fluid w-100">
    <div class="main_content container d-flex flex-column align-items-center mx-auto" >
        <h1>Nowe wydarzenie</h1>

        <%= render 'form', event: @event %>

        <p class="navbar-text mb-0">
            <button type="button" class="btn btn-info"><%= link_to 'Wstecz', events_path, :class => 'text-decoration-none text-dark' %></button>
        </p>
    </div>
</section>