
<section class="jumbotron4 jumbotron-fluid w-100"> 
    <div class="main_content container d-flex flex-column align-items-center mx-auto" >
        <h1>Edycja biletu</h1>

        <%= render 'form', ticket: @ticket %>

        <p class="navbar-text mb-0">
            <button type="button" class="btn btn-info"><%= link_to 'Pokaż', @ticket, :class => 'text-decoration-none text-dark' %></button>
            <button type="button" class="btn btn-info"><%= link_to 'Wstecz', tickets_path, :class => 'text-decoration-none text-dark' %></button>
        </p>

        <%= render 'events_list' %>
    </div>
</section>