<div class="d-flex flex-column justify-content-center mx-auto" >
    <h1>Nowy bilet</h1>

    <%= render 'form', ticket:@ticket %>

    <p class="navbar-text mb-0">
        <button type="button" class="btn btn-info"><%= link_to 'Wstecz', tickets_path, :class => 'text-decoration-none text-reset' %></button>
    </p>

    <%= render 'events_list' %>
</div>