

.jumbotron {
    background-image: url('img/events.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin-bottom: 0 !important;
  }

#event_list li:hover {
    color:aliceblue !important;
    transform: scale(1.1);
    text-decoration: none;
}

  @media only screen and (min-width: 576px) { 

    #event_list {
        margin-top:15vh;
    }
  }