

.jumbotron {
    background-image: url('img/events.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin-bottom: 0 !important;
  }

  
.jumbotron2 {
  background-image: url('img/events2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 0 !important;
}

.jumbotron3 {
  background-image: url('img/tickets.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 0 !important;
}

.jumbotron4 {
  background-image: url('img/tickets3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 0 !important;
}

.jumbotron5 {
  background-image: url('img/devise.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 0 !important;
}

#event_list li:hover {
    transform: scale(1.1);
}

.main_content {
  margin-top:15vh;
}

.new_field label {
  width: 120px;
}