<section class="jumbotron5 jumbotron-fluid w-100">
    <div class="main_content d-flex flex-column align-items-center mx-auto" >
        <p>Witaj <%= @email %>!</p>

        <p>Możesz potwierdzić login do konta poprzez link poniżej:</p>

        <p><%= link_to 'Potwierdź konto', confirmation_url(@resource, confirmation_token: @token), :class => 'text-light' %></p>
    </div>
</section>