<div class="d-flex flex-column justify-content-center mx-auto" >
    <p>Witaj <%= @resource.email %>!</p>

    <p>Kontaktujemy się z Tobą, aby powiadomić Cię, że Twoje hasło zostało zmienione.</p>
</div>