<div class="d-flex flex-column justify-content-center mx-auto" >
    <p>Witaj <%= @resource.email %>!</p>

    <p>Wysłano prośbę o zmianę hasła. Możesz to zrobić klikając w poniższy link.</p>

    <p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>Jeśli to nie Ty wysłałeś tą prośbę, proszę zignoruj ten email.</p>
    <p>Twoje hasło nie zmieni się, dopóki nie uzyskasz dostępu do powyższego linku i nie utworzysz nowego.</p>
</div>